*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

.logo{
    width: 12vh;
    height: 9vh;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    


}
.menu{ 
    color: #9767A9;
    list-style: none;
    display: flex;
    gap: 4.5rem;
    
    
    
}
li:hover{
   
    color: #9767A9;
    border: solid blue;
    font-family: 'Monteserrat';
    transition: 0,3s;
}
.divSociais{
    
    color: #9767A9;
}
div.line1{
    position: relative;
    
   
}

.mobileMenu {
    width: 25px;
    height: 3px;
    margin: 4px;
    background-color: #9767A9;
    margin-left: 7vh;
}
.caixaBusca {
    display: flex;
    width: 42vh;
    height: 3vw;
    
}

.search-txt{
    width: 36vh;
    height: 5vh;
    border: #9767A9 solid;
    border-radius: 15px;
}
.divSociais{
    display: flex;
    
}


.secMain{
    background-color: #9767A9;
    width: 100%;
    
    color: #ffff;
}
.cabeludo{
    width: 100vh;
    height: 57vh;
}

.dicas{
    font-size: 5em;
    text-align: left;
    position: relative;
    left: 16vh;
    top: -52vh;
    width: 37%;
    height: 47vh;
    
    
}

.sobre{
    font-size: 3em;
    text-align: left;
    position: relative;
    left: 139vh;
    top: -94vh;
    width: 43%;
    height: 26vh;
    font: normal normal 300 40px/49px Montserrat;
    
}
.container{
    
border: black solid;
width: 100vw;
position: relative;
margin-left: 2em;


}
.text{
    top: 20vw;

}
.passos{
    font: normal normal 900 65px/86px Playfair Display;
    width: 50vh;
    height: 20vh;
    

}
.saberText{

}
.containerFotos{
    width: 80%;
    height: 80%;

}
.textFotos{
    width: 40%;
    margin-left: 2em;
    display: flex;
}
.foto1{


}
.text1{

}
.olheH1{

}
.olhaP{

}
.text2{

}
.imgFoto{

}
.ref2{

}
.refP{

}
.text3{

}
.tituloH{

}
.ouvirP{

}
.text5{

}
.tith{

}
.passar{

}
.text6{

}
.respeite{

}
.youp{

}
.linha{

}

.secGaleria{

}
.galeria{

}
.galeriaFotos{

}
footer{

}
.footerP{

}


@media(min-width:201px) and (max-width:500px){
    header{
        width: 80vh;
        height: 10vh;
        display: flex;
        flex-direction: column;
    }
    .logo{
        width: 13vh;
        height: 231h;
        margin-left: 18%;
        margin-bottom: 2em;
    }
    .cabeludo{
        width: 80vh;
        height: 45vh;
    }
    .nav{
        
        display: none;
        
    
    }
    .menu{ 
        display: block;
        position: absolute;
        top:4.6rem;
        left: 0;
        background: #9767a9;
        text-align: center;
        
        
        
    }
    .mobileMenu{
        display:none;
        align-items:center;
        gap: 0.5rem;
        color:#9767a9;
        cursor:pointer;
    }
    li:hover{
       
        color: #9767A9;
        border: solid blue;
        font-family: 'Monteserrat';
        transition: 0,3s;
    }
    ul{
        height: 1vw;
        
    }
    .secMain{
        width: 155vh;
    }
    
}